# Ignore environment variables file
.env


#ignore virtual environment folder
venv/

test.py

# Ignore __pycache__ folders
__pycache__/

.coverage

#ignore the skill.md file in the frontend folder + node_modules
frontend/SKILL.md
frontend/node_modules/